# Byte-compiled / optimized / DLL files
__pycache__/*
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm / VSCode
.vscode/
.idea/

# Mypy / Pylance / Pyright
.mypy_cache/
.pyright/
.dmypy.json
dmypy.json

# pyre
.pyre/

# Ruff / Flake8 / Black / isort
*.lint
*.tmp

# Logs
*.log

# Local config
*.env
*.local

#output folder
output/
